* {
  margin: 0;
  padding: 0;
}
/*heading*/
h1 {
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
}

h1 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 40px;
  line-height: 40px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -4px;
}
/*slider*/
.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#single-button_1:checked
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_1,
#single-button_2:checked
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_2,
#single-button_3:checked
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_3,
#single-button_4:checked
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_4 {
  background-color: whitesmoke;
  border: solid 0.25rem rgb(113, 170, 254);
}
#single-button_1:checked:hover
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_1,
#single-button_2:checked:hover
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_2,
#single-button_3:checked:hover
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_3,
#single-button_4:checked:hover
  ~ .radio-buttons-wrapper
  .buttons
  .single-button
  .slides__radio_4 {
  background-color: black;
}

#single-button_2:checked ~ .slider .slides {
  /* margin-top: -37.5rem; */
  margin-left: -62.5rem;
}

#single-button_3:checked ~ .slider .slides {
  /* margin-top: -75rem; */
  margin-left: -125rem;
}

#single-button_4:checked ~ .slider .slides {
  /* margin-top: -112.5rem; */
  margin-left: -187.5rem;
}

#single-button_2:checked
  ~ .radio-buttons-wrapper
  .slides-description
  .description_1 {
  margin-left: -100%;
}

#single-button_3:checked
  ~ .radio-buttons-wrapper
  .slides-description
  .description_1 {
  margin-left: -200%;
}

#single-button_4:checked
  ~ .radio-buttons-wrapper
  .slides-description
  .description_1 {
  margin-left: -300%;
}

.slider {
  /* display: flex;
  flex-direction: column; */
  gap: 1rem;
  width: 62.5rem;
  max-width: 75rem;
  height: 37.5rem;
  text-align: center;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
}

.slides {
  /* overflow: hidden; */
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(100, 97, 97, 0.5);
  transition: all 0.5s ease 0s;
  /*new*/
  display: flex;
  flex-direction: row;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 37.5rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__slide_1 {
  background-image: url(./assets/happy\ me.jpg);
}
.slider__slide_2 {
  background-image: url(./assets/hungry\ me.jpg);
}
.slider__slide_3 {
  background-image: url(./assets/sleppy\ me.jpg);
}
.slider__slide_4 {
  background-image: url(./assets/waiting\ me.jpg);
}

.radio-buttons-wrapper {
  display: flex;
  width: 62.5rem;
  max-width: 75rem;
  justify-content: space-between;
}
.slides-description {
  display: flex;
  overflow: hidden;
}
.single-description {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-family: "Dancing Script", cursive, Times, "Times New Roman", serif;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  transition: 0.5s;

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.buttons {
  display: flex;
  align-items: flex-start;
  text-align: right;
}
.single-button {
  padding: 0.5rem;
  cursor: pointer;
}
.single-button:hover .slides__radio-button {
  background-color: white;
  border: 1px solid white;
}

.slides__radio-button {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid rgb(113, 170, 254);
  border-radius: 50%;
  background-color: rgb(113, 170, 254);
  transition: 0.5s;
}

input {
  display: none;
}
/*footer*/
footer {
  background: #111;
  padding-top: 2rem;
  color: rgb(244, 221, 11);
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-bottom {
  background: #000;
  padding: 1.25rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 1rem;
  word-spacing: 12.5%;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #f3f7f9;
  font-size: 1rem;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Large devices (laptops/desktops, from 992 to 1050px) */
@media only screen and (max-width: 1050px) and (min-width: 992px) {
  .slider {
    width: 60rem;
    max-width: 60.5rem;
    height: 37.5rem;
  }
  .slide {
    height: 37.5rem;
  }
  #single-button_2:checked ~ .slider .slides {
    /* margin-top: -37.5rem; */
    margin-left: -60rem;
  }

  #single-button_3:checked ~ .slider .slides {
    /* margin-top: -75rem; */
    margin-left: -120rem;
  }

  #single-button_4:checked ~ .slider .slides {
    /* margin-top: -112.5rem; */
    margin-left: -180rem;
  }
  .radio-buttons-wrapper {
    width: 60rem;
  }
  .footer-content {
    width: 60rem;
    margin: auto;
  }
}
/* Medium devices (landscape tablets, 991px and down) */
@media only screen and (max-width: 991px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 43.75rem;
    max-width: 47rem;
    height: 31.25rem;
  }
  .slide {
    height: 31.25rem;
  }
  #single-button_2:checked ~ .slider .slides {
    /* margin-top: -31.25rem; */
    margin-left: -43.75rem;
  }

  #single-button_3:checked ~ .slider .slides {
    /* margin-top: -62.5rem; */
    margin-left: -87.5rem;
  }

  #single-button_4:checked ~ .slider .slides {
    /* margin-top: -93.75rem; */
    margin-left: -131.25rem;
  }
  .radio-buttons-wrapper {
    width: 43.75rem;
  }
  .footer-content {
    width: 43.75rem;
    margin: auto;
  }
}
/* Medium devices (landscape tablets, 767px and down) */
@media only screen and (max-width: 767px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 31.25rem;
    max-width: 34rem;
    height: 25rem;
  }
  .slide {
    height: 25rem;
  }
  #single-button_2:checked ~ .slider .slides {
    /* margin-top: -25rem; */
    margin-left: -31.25rem;
  }

  #single-button_3:checked ~ .slider .slides {
    /* margin-top: -50rem; */
    margin-left: -62.5rem;
  }

  #single-button_4:checked ~ .slider .slides {
    /* margin-top: -75rem; */
    margin-left: -93.75rem;
  }
  .radio-buttons-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 31.25rem;
    gap: 1.5rem;
  }
  .buttons {
    align-self: center;
  }
  .footer-content {
    width: 31.25rem;
    margin: auto;
  }
}
/* small devices (phones, 550px and down)  */
@media only screen and (max-width: 550px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 18.75rem;
    max-width: 19rem;
    height: 18.75rem;
  }
  .slide {
    height: 18.75rem;
  }
  #single-button_2:checked ~ .slider .slides {
    /* margin-top: -18.75rem; */
    margin-left: -18.75rem;
  }

  #single-button_3:checked ~ .slider .slides {
    /* margin-top: -37.5rem; */
    margin-left: -37.5rem;
  }

  #single-button_4:checked ~ .slider .slides {
    /* margin-top: -56.25rem; */
    margin-left: -56.25rem;
  }
  .single-description {
    font-size: 1.5rem;
  }
  .radio-buttons-wrapper {
    width: 18.75rem;
    gap: 1rem;
  }
  .footer-content {
    width: 18.75rem;
    margin: auto;
  }
}
